<!doctype html>
<!--[if IE 6]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if (gt IE 6)|!(IE)]><!--><html lang="ja" class="no-js"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>ppworks.info</title>
  <meta http-equiv="content-language" content="ja">
  <meta name="description" content="ppworks.info">
  <meta name="author" content="ppworks">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta property="og:title" content="ppworks.info"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://ppworks.info/"/>
  <meta property="og:site_name" content="ppworks.info"/>
  <meta property="og:image" content="http://ppworks.info/images/ppworks.png" />
  <meta property="fb:admins" content="1259119031" />
  <meta property="og:description" content="ppworks info" />

  <link rel="stylesheet" href="css/normalize.css?v=<%=@assets_version%>">
  <link rel="stylesheet" href="css/common.css?v=<%=@assets_version%>">
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.0.6-development-only.js"></script>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/js/jquery/jquery.color.js?v=<%=@assets_version%>"></script>
  <script type="text/javascript" src="/js/index.js?v=<%=@assets_version%>"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
